* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
align-items: center;
background-color: rgb(204, 166, 38);
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5em;
}